.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid darkgray;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 2rem;
  position: relative; /* Position relative is used to allow absolutely positioned child elements inside the card */
}

.bookmark-icon-filled {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.bookmark-icon-border {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.tag {
  border: 1px solid grey;
  border-radius: 999px;
  padding: 2px 6px;
  font-size: 0.8rem;
}

.card-button {
  cursor: pointer;
}
