.navbar {
  position: fixed; /* had to fix the navbar because with just flexbox the navbar was wiggely */
  bottom: 0;
  width: 100%;
  z-index: 100; /* Ensures navbar stays on top of other content */
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--beige-100);
  gap: 1rem;
  list-style: none;
  height: 2rem;
  margin: 0;
}

.nav-links li a {
  color: black;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

/* Active state styling */
.nav-links li a.active {
  background-color: var(--beige-300);
  font-weight: bold;
  text-decoration: underline;
}

/* hover state */
.nav-links li a:hover:not(.active) {
  background-color: var(--beige-200);
}
